@import "/styles/mixins";
@import "/styles/variables";
@import "/styles/animations";

$card-min-height: 23.75rem;

.cardContainer {
    border: 0.125rem solid $gray;
    border-radius: $rounded-border-radius;
    background-color: #ffffff;
}

.productImage {
    width: 100%;
    height: auto;
    max-height: calc(#{$card-min-height} / 2);
    border-top-left-radius: $rounded-border-radius;
    border-top-right-radius: $rounded-border-radius;
    max-width: 12.5rem;

    &.imageShimmer {
        height: calc(#{$card-min-height} / 2.5);
    }

    @include respond-to("medium") {
        max-width: 12.5rem;
        max-height: $card-min-height / 2;
        &.imageShimmer {
            min-height: $card-min-height / 2;
        }
    }
}

.productInfoContainer {
    padding: 1rem;
    height: auto;
    &.productInfoContainerShimmer {
        min-height: 8rem;
        max-width: 10rem;
        @include respond-to("medium") {
            min-height: $card-min-height / 2;
            min-width: 12.5rem;
        }
    }
}
.productInfoContainer > .productName {
    margin: 0;
    font-size: $paragraph-size;
    font-weight: 400;
    color: #adadad;
    width: 100%;
    height: 100%;
    min-height: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    @include respond-to("medium") {
        -webkit-line-clamp: 1;
    }
}
.productInfoContainer > .productPrice {
    font-size: $paragraph-size;
    color: #000000;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0;
    min-width: 4rem;
    min-height: 1.5rem;
}
.productInfoContainer > .productSold {
    color: #888888;
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 0.60rem;
    margin: 0;
}