@import "/styles/mixins";
@import "/styles/variables";

// #region LAYOUT RULES
.layoutContainer {
  background-color: $gray;
  min-height: 100vh;
  padding-top: $navbar-height + 3.125rem;
  padding-bottom: $navbar-height + 3.125rem;
  @include respond-to("medium") {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
}
// #endregion

// #region NAVBAR RULES
.navbar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: $navbar-height;
  background-color: $gray;
}
.navbar > .navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;

  > h3 {
    margin: 0;
    display: none;
    cursor: pointer;
    &.isProductListPage {
      display: initial;
    }
  }
  > svg {
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
  }

  @include respond-to("medium") {
    > h3 {
      display: initial;
    }
    > svg {
      display: none;
    }
  }
}
// #endregion

// #region NAVIGATOR RULES
.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigator > .profilePicture {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.3125rem 0.5rem;
}
// #endregion

// #region MAIN CONTENT RULES
.main {
  width: 100%;
  height: 100%;
}
// #endregion