@import "/styles/mixins";
@import "/styles/variables";

$small-marginLeft-section: 0.68rem;
$medium-marginLeft-section: 1rem;

.productDetailPaper {
    display: flex;
    flex-flow: column;
    padding-bottom: 2rem;
    max-width: 55rem;
    margin: auto;
    @include respond-to("medium") {
        flex-flow: row;
    }
}

// #region PRODUCT IMAGE SECTION RULES
.productDetailPaper > .productImagesContainer {
  width: 100%;
  padding-top: 2rem;
  @include respond-to("medium") {
    padding-top: 0;
    margin-top: 3rem;
    width: 50%;
  }
}
// #endregion

// #region PRODUCT INFO SECTION RULES
.productDetailPaper > .productInfoContainer {
  width: 100%;
  padding: 1rem 1rem 0;

  @include respond-to("medium") {
    width: 50%;
    margin-top: 5rem;
  }
}

.productSectionContainer {
  border-bottom: 1px solid $gray;
  padding: 1.25rem 0;
  & .productSectionTitle {
     margin: 0;
     font-weight: 500;
     color: $dark-gray;
  }
}

.productInfoContainer > .productNameContainer {
  padding-bottom: 0.5rem;
  > .productName {
    margin: 0;
  }
  > span {
    color: $dark-gray;
    font-weight: 500;
  }
}

.productInfoContainer > .productPriceContainer {
  border-top: 1px solid $gray;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  @include respond-to("medium") {
    margin-top: 2rem;
  }

   > p {
     margin: 0;
     font-weight: 500;
     color: $dark-gray;
     &.productPrice {
       padding-left: $small-marginLeft-section;
       font-weight: 700;
       color: $dark-orange;
       font-size: 1.25rem;
       @include respond-to("medium") {
         padding-left: $medium-marginLeft-section;
       }
     }
   }

}

.productInfoContainer > .productVariantContainer {
  display: flex;
  flex-direction: column;
  @include respond-to("medium") {
    flex-direction: row;
    align-items: center;
  }

  > p {
    color: $dark-gray;
    font-weight: 500;
  }
  > .variantItemsContainer {
    display: flex;
  }
  > .variantItemsContainer > .variantItem {
    padding: 0.25rem;
    border: 2px solid gainsboro;
    border-radius: 8px;
    margin-top: $small-marginLeft-section;
    margin-left: $small-marginLeft-section;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }

    &.pickedVariant {
      border-color: $orange;
    }
    > p {
      margin: auto;
      font-size: 0.8125rem;
    }

    @include respond-to("medium") {
      margin-top: 0;
      margin-left: $medium-marginLeft-section;
      &:first-child {
        margin-left: $medium-marginLeft-section;
      }
    }
  }
}

.productInfoContainer > .productStockContainer {
  display: flex;
  align-items: center;
  > p {
    margin: 0;
    &.productStock {
      color: #000000;
      font-weight: 700;
      padding-left: $small-marginLeft-section;
      @include respond-to("medium") {
        padding-left: $medium-marginLeft-section;
      }
    }
  }
}
// #endregion

// #region SWIPER RULES
.swiper_container {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gallery_top {
    width: 100%;
    @include respond-to("medium") {
      width: 26rem;
      margin: 0 auto;
    }
  }

  .gallery_thumbs {
    height: 6.25rem;
    padding: 10px 0;
    @include respond-to("medium") {
        height: 20%;
    }
  }

  .gallery_thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .gallery_thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  // #endregion