@import "/styles/variables";
@import "/styles/animations";

$rounded-radius: 0.125rem;

.bar {
    width: 100%;
    min-height: 1.25rem;
    border-radius: $rounded-radius;
    background-color: $gray;
}

.bar > .meter {
    border-radius: $rounded-radius;
}

.meter > .progress {
    width: 100%;
    border-radius: $rounded-radius;
    background-color: $orange;
    min-height: 1.25rem;
    text-align: center;
    @extend .progressGrow;
    animation-duration: 1s;
    > p {
        margin: 0;
        padding-top: 0.1875rem;
        font-size: 0.625rem;
        color: rgb(2 2 2 / 62%);
        font-weight: 500;
        @extend .fadeIn;
        animation-duration: 2s;
    }
}