@import "/styles/variables";

.paperContainer {
  width: 100%;
  min-height: 31.25rem;
  background-color: #ffffff;

  &__rounded {
    @extend .paperContainer;
    border-radius: $rounded-border-radius;
  }
}
