@import "/styles/mixins";
@import "/styles/variables";

.productListPaper {
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 55rem;
    
}
.productListPaper > .productItemsContainer {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    > .productItem {
        cursor: pointer;
        margin: 0.5rem;
        width: 44%;
        max-width: 12.5rem;
        &:hover {
          box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
        }
    }
    @include respond-to("medium") {
      justify-content: initial;
      > .productItem {
          width: initial;
      }
    }
}

.productListPaper > .paperTitleContainer {
    display: flex;
    align-items: center;
    padding: 1.25rem 1rem;
    > p {
      margin: 0;
      padding-left: 1rem;
    }
    > .titleShimmer {
      margin-left: 1rem;
      width: 200px;
    }
}
.paperTitleContainer > .productShownIcon {
    width: 1.875rem;
    height: 1.875rem;
    background-color: $orange;
    border-radius: 0.3125rem;
    border: 1px solid gainsboro;
    padding: 0.25rem;
}

.productShownIcon > .iconWrapper {
  background-color: #ffffff;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  border-radius: 3px;
  > svg {
    height: 0.9375rem;
  }
}
