.shineShimmer {
background-color: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

.progressGrow {
    animation: progressGrow 3s ease-in-out;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation: fadeIn;
}


@keyframes placeholderShimmer {
    0% {
    background-position: -468px 0;
    }
  
    100% {
    background-position: 468px 0;
    }
  }

  @keyframes progressGrow {
      0% {
          width: 0;
      }
      100% {
          width: 100%;
      }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }