// Size
$navbar-height: 3.125rem;
$paragraph-size: 0.875rem;


// Border
$rounded-border-radius: 1.875rem;

// Colors
$white: #ffffff;
$gray: #eff1f8;
$dark-gray: #888888;
$orange: #ffc352;
$dark-orange: #ff9800;

// Breakpoints
$breakpoints: (
  "medium": (
    min-width: 800px,
  ),
  "large": (
    min-width: 1000px,
  ),
  "huge": (
    min-width: 1200px,
  ),
);
