@import "/styles/mixins";
@import "/styles/variables";

.errorContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    > svg {
        height: 200px;
        width: 200px;
        stroke: $orange;
    }

    > .errorMessageContainer {
        padding-left: 1.25rem;
        font-size: 1.5rem;
        > .errorMessage {
            margin: 0;
            font-size: 2rem;
            text-align: center;
            color: $dark-gray;
            font-weight: 700;
            @include respond-to("medium") {
                font-size: 3rem;
            }
        }
    }

    @include respond-to("medium") {
        flex-direction: row;
        margin-top: 8rem;
    }
}